/* [next]/internal/font/google/kanit_be9d1bc0.module.css [app-client] (css) */
@font-face {
  font-family: Kanit;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../media/d598b2fbe51cc254-s.3ec552e0.woff2") format("woff2");
  unicode-range: U+2D7, U+303, U+331, U+E01-E5B, U+200C-200D, U+25CC;
}

@font-face {
  font-family: Kanit;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../media/7e531266682ee0b2-s.d634be4c.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Kanit;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../media/4bc62d0d5f9ae771-s.d74f0500.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Kanit;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../media/fdbfb7080a87a334-s.p.3be6c8ae.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Kanit;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../media/577b8067601e9847-s.e644b68f.woff2") format("woff2");
  unicode-range: U+2D7, U+303, U+331, U+E01-E5B, U+200C-200D, U+25CC;
}

@font-face {
  font-family: Kanit;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../media/5d1ea58cfb9c551d-s.7dda2f4b.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Kanit;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../media/d1bdedfd2fe13894-s.b093ab45.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Kanit;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../media/1e23e5114abf0db3-s.p.b3163490.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Kanit;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../media/34da6f6f5d0d57a5-s.96754dc3.woff2") format("woff2");
  unicode-range: U+2D7, U+303, U+331, U+E01-E5B, U+200C-200D, U+25CC;
}

@font-face {
  font-family: Kanit;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../media/c5ef4f45c466146b-s.cfb14465.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Kanit;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../media/5e9c5fb40545fcd2-s.a32f81c5.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Kanit;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../media/89d4f80f11029d6d-s.p.eabc3dff.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Kanit;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../media/876b05e81fb36bf6-s.5eeb9c45.woff2") format("woff2");
  unicode-range: U+2D7, U+303, U+331, U+E01-E5B, U+200C-200D, U+25CC;
}

@font-face {
  font-family: Kanit;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../media/5128e7653d6f3744-s.71b7b808.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Kanit;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../media/07bc3d3e69c8b6e8-s.a98998d3.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Kanit;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../media/118b6ed7ac256a99-s.p.772b3575.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Kanit;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../media/a244653d74e7372f-s.686004b0.woff2") format("woff2");
  unicode-range: U+2D7, U+303, U+331, U+E01-E5B, U+200C-200D, U+25CC;
}

@font-face {
  font-family: Kanit;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../media/7ff43f20b4a94066-s.56af7f28.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Kanit;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../media/d5ac005905e340fc-s.823aae1d.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Kanit;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../media/c750adf2ddf22b70-s.p.fc7dc774.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Kanit Fallback;
  src: local(Arial);
  ascent-override: 108.49%;
  descent-override: 38.96%;
  line-gap-override: 0.0%;
  size-adjust: 101.39%;
}

.kanit_be9d1bc0-module__dftj2G__className {
  font-family: Kanit, Kanit Fallback;
  font-style: normal;
}

.kanit_be9d1bc0-module__dftj2G__variable {
  --font-kanit: "Kanit", "Kanit Fallback";
}

/*# sourceMappingURL=%5Bnext%5D_internal_font_google_kanit_be9d1bc0_module_css_bad6b30c._.single.css.map*/